@define-mixin icon
	@mixin -grow
	@mixin -align-center

	--size: var(--icon-size)
	--width: var(--icon-width, var(--size))
	--height: var(--icon-height, var(--size))
	--content: var(--icon-content, '?')
	--padding: var(--icon-padding, 2rem)

	display: inline-block
	content: var(--content)
	line-height: var(--width)
	font-size: calc(var(--width) - var(--padding))

	& > svg
		height: calc(var(--width) - var(--padding))
