<title>Online JIN Playground</title>

{% if request.parsedBody.body is defined %}
	{% set data = 'You did not paste anything' %}

	{% if request.parsedBody.body|trim %}
		{% set data = request.parsedBody.body|jin %}
	{% endif %}
{% else %}
	{% set data = false %}
{% endif %}

<main class="contain">
	{% if data %}
		<section x-data="{
			show: false
		}">
			{% if data|type == 'array' %}
				<p class="!p-1 rounded-md text-center !bg-emerald-300">
					Success, your JIN is valid! ( <span class="cursor-pointer underline" x-on:click="show = true">Show as JSON</span> )
				</p>

				<div class="!mt-1" x-cloak x-show="show">
					{% apply markdown %}
						```json
						{{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
						```
					{% endapply %}
				</div>
			{% else %}
				<p class="!p-1 rounded-md text-center !bg-rose-300">
					Failed, {{ data }}
				</p>
			{% endif %}
		</section>
	{% endif %}

	<section>
		<form method="POST" x-data="{
			clear() {
				document.getElementById('body').value = '';
				document.getElementById('body').style.height = 'auto';
			}
		}">
			<label for="body">Paste Some JIN ( <a href="#" x-on:click="clear()">clear</a> )</label>
			<textarea id="body" class="mb-1 w-full text-zinc-700" style="field-sizing: content" name="body">{{ request.parsedBody.body|default(app.getFile('resources/example.jin')|content)|default('') }}</textarea>
			{% if session is defined %}
				<input type="hidden" name="csrf::token" value="{{ session.csrfToken.value }}" />
			{% endif %}
			<button class="action !bg-transparent" type="submit">Submit</button>
		</form>
	</section>
</main>
