{% extends '@layouts/master.html' %}

{% set title = 'Contributing' %}

{% block primary %}
    <main>
        <section>
            {% markdown %}
                # {{ title }}

                Hiraeth welcomes contributions from all developers, however, before creating a pull requests, integration package, or anything else, here's some things you should keep in mind:

                ## Time Commitment

                Before investing a lot of time in developing your next great idea and then trying to get it into the framework, begin with a conversation.

                - <a href="javascript:document.querySelector('.gitter-open-chat-button').click()">Join the Chat</a>
                - [Send an E-mail](mailto:info@hiraeth.dev)
                - [Add an Issue](https://github.com/hiraeth-php/app/issues)

                We value your time, and we hope you value ours, so let's have a conversation about what you want to do, what are the pros, the cons, etc, before we dive in head first.  Let's have a conversation and work together to find the best solution.

                ## Style

                Hiraeth does not follow a named standard (for philosophical reasons).  However, we do have some standards, although we're generally pretty chill about them as long as code is clean and readable.  One thing we don't stand for, however, is spaces as lead indentation on PHP.  We have an `.editorconfig`, **use it**.

                Beyond that, if you mostly apply PSR-2 you'll be in pretty good shape.  Though it is `TRUE`, we do like our capitalized built-in constants.

                ## Standards and Guidelines

                - All official packages MUST use classmap, no PSR-0 / PSR-4
                - Think before using: Magic, Static Methods, Traits, Anonymous Functions / Classes
                - Namespaces should be flat as possible and represent modules, not package names / class types

                ## Licensing

                Any contribution accepted into the official repositories, you must agree to have licensed as MIT.  If you are doing a pull request on an existing package, feel free to add yourself to the `composer.json` authors section.

                ```json
                "authors": [
                    ...,
                    {
                        "name":  "Jessie Example",
                        "email": "jessie@example.com",
                        "role":  "Contributor"
                    }
                ]
                ```


            {% endmarkdown %}
        </section>
    </main>
{% endblock %}
