{% extends '@vendor/hiraeth/hyfryd/resources/layouts/velocity/main.html' %}

{% block scripts %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/nord.min.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/twig.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js"></script>
	<script>
		document.addEventListener('htmx:afterSwap', function (e) {
			autosize(document.querySelectorAll('textarea'));

			e.target.querySelectorAll('pre > code[class^="language-"]').forEach(function(node) {
				hljs.highlightElement(node)
			});

			e.target.querySelectorAll('pre').forEach(function(node) {
				if (!node.querySelector('code[class^="language-"]')) {
					return;
				}

				let button = document.createElement('button');

				button.innerText = 'copy';
				button.classList.add('copy');

				node.prepend(button);

				button.addEventListener('click', function(e) {
					navigator.clipboard.writeText(e.target.nextSibling.innerText);

					e.stopPropagation();
				});
			});
		});
	</script>
{% endblock %}
