{% extends '@layouts/master.html' %}

{% set pageClass = 'docs' %}

{% block header %}
    <header>
        <h1 class="title">{{ title }}</h1>
    </header>
{% endblock %}

{% block primary %}
    <section class="layout">
        <nav id="menu">
            {% include '@pages/docs/2.0/--nav.html' %}
            <a class="open" href="#menu">☰</a>
        </nav>
        <main>
            {% block content %}

            {% endblock %}
        </main>
        <script src="https://utteranc.es/client.js"
            repo="hiraeth-php/site"
            issue-term="pathname"
            label="comment"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script>

    </section>
{% endblock %}
